*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Main{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid black;
    
}
#container{
   /* display: flex; */
    width: 1200px;
    border: 2px solid red;
    /* overflow: scroll; */
}


.image{
     width: 32%;
    border: 2px solid green;
     
}

img{
    position: relative;
    width: 100%;
    border: 1px solid black;
}
